.photo-popup {
  display: none;
  z-index: 10;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.photo-popup:hover {
  cursor: pointer;
}

.photo-popup__preview-button {
  position: absolute;
  left: 30px;
  top: calc(50vh - 10px);
  width: 10px;
  height: 40px;
  border: none;
  background: none;
  background-image: url(../../images/icons/preview-button.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.photo-popup__next-button {
  position: absolute;
  right: 30px;
  top: calc(50vh - 10px);
  width: 10px;
  height: 40px;
  border: none;
  background: none;
  background-image: url(../../images/icons/next-button.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.photo-popup__close-button {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  background-image: url(../../images/icons/close-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.photo-popup__next-button:hover, .photo-popup__preview-button:hover, .photo-popup__close-button:hover {
  cursor: pointer;
}

.photo-popup__hidden-button {
  display: none;
}

.photo-popup__image {
  margin: auto;
  max-width: 1080px;
  max-height: 100%;
}

.photo-popup_visible {
  display: flex;
}

@media screen and ( max-width:1079px ) {
  .photo-popup__image {
    width: 100vw;
  }
}

@media screen and ( max-width:767px ) {
  .photo-popup__preview-button {
    left: 10px;
  }

  .photo-popup__next-button {
    right: 10px;
  }

  .photo-popup__close-button {
    top: 10px;
    right: 10px;
  }
}
