.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found__header {
  font-size: 50px;
  width: fit-content;
}

.not-found__description {
  font-size: 20px;
  width: fit-content;
}

.not-found__link {
  font-size: 20px;
  width: fit-content;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  height: fit-content;
}

.not-found__link:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}