.equals {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.equals__title {
  width: fit-content;
  text-align: center;
  font-size: 30px;
  margin: 40px auto 0;
}

.equals__subtitle {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.equals__container {
  margin: 50px auto 0;
  padding: 0;
  display: flex;
  background-color: rgb(244, 244, 244);
  width: 1080px;
}

.equals__container:last-of-type {
  margin: 50px auto;
}

.equals__info {
  width: 500px;
  margin: auto;
}

.equals__photo {
  width: 500px;
}

.equals__list {
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
  width: fit-content;
}

.equals__elem {
  list-style-type: '\2713';
  margin: 0 10px 10px;
}

.equals__elem:last-of-type {
  margin: 0 10px 0;
}

.equals__elem-text {
  margin: 0 0 0 10px;
}

@media screen and ( max-width:1279px ) {
  .equals__title {
    font-size: 27px;
    width: 70%;
  }

  .equals__container {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .equals__subtitle {
    font-size: 20px;
    text-align: center;
  }
  
  .equals__info {
    width: 400px;
    margin: 50px auto;
  }
}

@media screen and ( max-width:767px ) {
  .equals__title {
    font-size: 25px;
    width: 70%;
  }

  .equals__container {
    display: flex;
    flex-direction: column;
    width: 360px;
  }

  .equals__container:last-of-type {
    flex-direction: column-reverse;
  }

  .equals__subtitle {
    font-size: 20px;
    text-align: center;
  }

  .equals__info {
    width: 360px;
    margin: 20px auto;
  }

  .equals__photo {
    width: 360px;
  }

  .equals__elem-text {
    font-size: 14px;
  }
}