.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.3);
  color: white;
  margin: 20px auto 0;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: fit-content;
  margin: 15px auto;
}

.header__logo {
  width: 150px;
  height: 73px;
  margin: 0 0 0 32px;
}

.header__title-link {
  text-decoration: none;
  color: white;
}

.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.header__link {
  color: white;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  margin: 0 27px 0 0;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.726);
}

.header__link.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.726);
}

.header__link_disable {
  cursor: default;
  color: rgba(199, 199, 199, 0.9);
}

.header__link_disable:hover {
  border-bottom: 1px solid transparent;
}

.header__title {
  font-size: 28px;
  font-weight: bolder;
  text-shadow: 1.5px 0 0 black;
  margin: 0;
}

.header__logo-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header__adress-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}

.header__map {
  width: 18px;
  height: 18px;
}

.header__adress {
  margin: 0 0 0 3px;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 0 0 black;
}

@media screen and ( max-width: 1279px ) {
  .header__container {
    flex-direction: column;
  }

  .header__title-link {
    text-align: center;
  }

  .header__links {
    margin: 20px auto 0;
  }
}

@media screen and ( max-width: 767px ) {
  .header__adress {
    font-size: 14px;
  }

  .header__links {
    flex-direction: column;
    margin-top: 20px;
  }

  .header__link {
    margin: 0 auto 5px;
  }

  .header__link:last-child {
    margin: 0 auto;
  }
}