.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gallery__title {
  margin: 40px auto 0;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
}

.gallery__container {
  width: 90%;
  max-width: 1080px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 5px;
  margin: 40px auto;
  justify-content: center;
}

.gallery__photo {
  width: 350px;
  height: 232px;
  display: flex;
}

.gallery__photo:hover {
  cursor: pointer;
}

.gallery__photo-image {
  width: 100%;
  height: 100%;
}