.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.213);
}

.footer__container {
  margin: 20px 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 150px;
  height: 73px;
}

.footer__text {
  margin: 10px 40px;
  text-align: center;
  color: gray;
}