.footer {
  font-size: 12px;
  width: 100%;
  display: flex;
  background-color: rgba(169, 169, 169, 0.213);
  margin: 0 auto;
}

.footer__text {
  margin: 10px;
  text-align: center;
  color: gray;
}

@media screen and (max-width: 767px) {
  .footer__text {
    font-size: 10px;
  }
}