@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Banner/Banner.css);
@import url(./components/Rooms/Rooms.css);
@import url(./components/Room/Room.css);
@import url(./components/Registration/Registration.css);
@import url(./components/Contacts/Contacts.css);
@import url(./components/Info/Info.css);
@import url(./components/Footer/Footer.css);
@import url(./components/PhoneLine/PhoneLine.css);
@import url(./components/Gallery/Gallery.css);
@import url(./components/Equals/Equals.css);
@import url(./components/RoomDescription/RoomDescription.css);
@import url(./components/PhotoPopup/PhotoPopup.css);
@import url(./components/Review/Review.css);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}