@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Banner/Banner.css);
@import url(./components/Rooms/Rooms.css);
@import url(./components/Room/Room.css);
@import url(./components/Registration/Registration.css);
@import url(./components/Contacts/Contacts.css);
@import url(./components/Info/Info.css);
@import url(./components/Footer/Footer.css);