@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@import url(./components/App/App.css);
@import url(./components/Header/Header.css);
@import url(./components/Banner/Banner.css);