.registration {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.3);
  padding: 20px 0;
  margin: 50px auto;
}

.registration__title {
  color: white;
  width: 90%;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.registration__inputs {
  margin: 20px auto 0;
}

.registration__input {
  width: 250px;
  height: 40px;
  border: 1px solid rgb(254, 254, 254);
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 20px 0 0;
  padding: 0 10px;
}

.registration__input::placeholder {
  padding: 0 10px;
  color: white;
}

.registration__input:last-child {
  margin-right: 0;
}

.registration__button {
  width: 270px;
  height: 55px;
  border: none;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(67, 67, 67);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0 0;
}

.registration__button:hover {
  background-color: rgba(255, 255, 255, 1);
}

@media screen and ( max-width: 1279px ) {
  .registration__title {
    text-align: center;
  }

  .registration__inputs {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0;
  }

  .registration__input {
    margin: 0 0 20px;
  }

  .registration__input:last-child {
    margin: 0;
  }
}